* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100vw;
	height: calc(100vh - 50px);
	background: #333;
}


.nav {
	display: flex;
	height: 50px;
	justify-content: space-between;
	align-items: center;
	padding: 0 5px;
	background: #555;
	color: #fff;
}

.link {
	margin-right: 20px;
	color: #fff;
	text-decoration: none;
	font-size: 14pt;
}

.nameSite {
	font-weight: bold;
	font-size: 24pt;
	margin-left: 10px;
}

.link:visited {
	color: #fff;
}
